# dependencies
node_modules/

# next
.next/
out/

# local env
.env
.env.local
.env.*.local

# local fallback data
.data/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# system
.DS_Store
Thumbs.db
